@font-face
  font-family: 'sell-icon'
  src:  url('fonts/sell-icon.eot?v014b8')
  src:  url('fonts/sell-icon.eot?v014b8#iefix') format('embedded-opentype'),
    url('fonts/sell-icon.ttf?v014b8') format('truetype'),
    url('fonts/sell-icon.woff?v014b8') format('woff'),
    url('fonts/sell-icon.svg?v014b8#sell-icon') format('svg')
  font-weight: normal
  font-style: normal


[class^="icon-"], [class*=" icon-"]
  /* use !important to prevent issues with browser extensions that change fonts */
  font-family: 'sell-icon' !important
  speak: none
  font-style: normal
  font-weight: normal
  font-variant: normal
  text-transform: none
  line-height: 1

  /* Better Font Rendering =========== */
  -webkit-font-smoothing: antialiased
  -moz-osx-font-smoothing: grayscale


.icon-home:before
  content: "\e900"

.icon-home2:before
  content: "\e901"

.icon-pencil:before
  content: "\e905"

.icon-pacman:before
  content: "\e916"

.icon-spades:before
  content: "\e917"

.icon-clubs:before
  content: "\e918"

.icon-diamonds:before
  content: "\e919"

.icon-file-zip:before
  content: "\e92b"

.icon-copy:before
  content: "\e92c"

.icon-paste:before
  content: "\e92d"

.icon-stack:before
  content: "\e92e"

.icon-folder-plus:before
  content: "\e931"

.icon-folder-minus:before
  content: "\e932"

.icon-folder-download:before
  content: "\e933"


